body.main-login {
    background: rgb(60, 141, 188);
    height:     100%;
    margin:     0;
}

body.main-login .main-login-container {
    padding:    2em;
    max-width:  400px;
    margin:     auto auto;
    background: #EEE;
    top:        25%;
    position:   relative;
    box-shadow: 0 0 5px #333;
}

body.main-login .main-login-container .input-group {
    margin: 0.5em 0;
}
body.main-login .main-login-container .remember-me-container .bootstrap-switch {
    float: right;
}

body.main-login .main-login-container input[name=_submit] {
    margin-top: 1em;
    width:      100%;
}

.bootstrap-switch {
    height: 1.8em;
}